### Load SQL Magics

In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Load sqlalchemy to create a local environment of PostgreSQL server

In [17]:
from sqlalchemy import create_engine
import pandas as pd

In [18]:
# %sql dialect+driver://username:password@host:port/database
%sql postgresql://jovyan:postgres@localhost:8765/rsm-docker

'Connected: jovyan@rsm-docker'

### Create engine

In [19]:
engine = create_engine("postgresql://jovyan:postgres@localhost:8765/rsm-docker")

In [20]:
engine

Engine(postgresql://jovyan:***@localhost:8765/rsm-docker)

### Get files as data frames

In [21]:
accounts = pd.read_excel("data/accounts.xlsx")
orders = pd.read_excel("data/orders.xlsx")
region = pd.read_excel("data/region.xlsx")
sales_reps = pd.read_excel("data/sales_reps.xlsx")
web_events = pd.read_excel("data/web_events.xlsx")

### Data ingestion to tables in a database (here - rsm-docker)

In [22]:
accounts.to_sql("accounts", engine, if_exists="replace")
orders.to_sql("orders", engine, if_exists="replace")
region.to_sql("region", engine, if_exists="replace")
sales_reps.to_sql("sales_reps", engine, if_exists="replace")
web_events.to_sql("web_events", engine, if_exists="replace")

In [23]:
engine.table_names()

['orders', 'accounts', 'region', 'sales_reps', 'web_events', 'ACCOUNTS']

## Queries

### 1. Ranking Total Paper Ordered by Account: Select the id, account_id, and total variable from the orders table, then create a column called total_rank that ranks this total amount of paper ordered (from highest to lowest) for each account using a partition. Your final table should have these four columns.

In [24]:
# Limited to 100 rows to avoid scrolling. Total 6912 rows.

In [25]:
%%sql

SELECT id, account_id, total,
RANK() OVER(PARTITION BY account_id ORDER BY total desc) total_rank
FROM orders
LIMIT 100;

 * postgresql://jovyan:***@localhost:8765/rsm-docker
100 rows affected.

[(4308, 1001, 1410, 1),
 (4309, 1001, 1405, 2),
 (4316, 1001, 1384, 3),
 (4317, 1001, 1347, 4),
 (4314, 1001, 1343, 5),
 (4307, 1001, 1321, 6),
 (4311, 1001, 1307, 7),
 (4310, 1001, 1280, 8),
 (4312, 1001, 1267, 9),
 (4313, 1001, 1254, 10),
 (4315, 1001, 1238, 11),
 (4318, 1001, 1205, 12),
 (14, 1001, 294, 13),
 (8, 1001, 293, 14),
 (2, 1001, 288, 15),
 (16, 1001, 269, 16),
 (7, 1001, 226, 17),
 (15, 1001, 210, 18),
 (12, 1001, 196, 19),
 (4, 1001, 176, 20),
 (6, 1001, 173, 21),
 (1, 1001, 169, 22),
 (5, 1001, 165, 23),
 (13, 1001, 158, 24),
 (10, 1001, 148, 25),
 (11, 1001, 137, 26),
 (3, 1001, 132, 27),
 (9, 1001, 129, 28),
 (17, 1011, 541, 1),
 (23, 1021, 578, 1),
 (21, 1021, 569, 2),
 (19, 1021, 558, 3),
 (18, 1021, 539, 4),
 (22, 1021, 515, 5),
 (20, 1021, 504, 6),
 (4319, 1021, 347, 7),
 (4322, 1021, 102, 8),
 (4320, 1021, 66, 9),
 (4321, 1021, 32, 10),
 (24, 1031, 1363, 1),
 (4324, 1041, 791, 1),
 (4323, 1041, 525, 2),
 (25, 1041, 395, 3),
 (26, 1041, 329, 4),
 (27, 1041, 212, 5),
 (4327, 1051, 648, 1),
 (31, 1051, 595, 2),
 (28, 1051, 589, 3),
 (29, 1051, 542, 4),
 (32, 1051, 508, 5),
 (33, 1051, 497, 6),
 (30, 1051, 487, 7),
 (4326, 1051, 150, 8),
 (4325, 1051, 104, 9),
 (4329, 1061, 830, 1),
 (4330, 1061, 828, 2),
 (4328, 1061, 770, 3),
 (34, 1061, 365, 4),
 (36, 1061, 330, 5),
 (35, 1061, 269, 6),
 (37, 1071, 853, 1),
 (4331, 1071, 725, 2),
 (4337, 1081, 1592, 1),
 (4335, 1081, 1311, 2),
 (4333, 1081, 1200, 3),
 (4346, 1081, 1051, 4),
 (4344, 1081, 987, 5),
 (4343, 1081, 919, 6),
 (4339, 1081, 886, 7),
 (4336, 1081, 858, 8),
 (4334, 1081, 848, 9),
 (4338, 1081, 839, 10),
 (4341, 1081, 834, 11),
 (4340, 1081, 827, 12),
 (4332, 1081, 820, 13),
 (4342, 1081, 778, 14),
 (4345, 1081, 763, 15),
 (51, 1081, 542, 16),
 (48, 1081, 542, 16),
 (43, 1081, 524, 18),
 (56, 1081, 465, 19),
 (42, 1081, 389, 20),
 (58, 1081, 379, 21),
 (52, 1081, 376, 22),
 (46, 1081, 375, 23),
 (54, 1081, 375, 23),
 (53, 1081, 374, 25),
 (38, 1081, 367, 26),
 (47, 1081, 349, 27),
 (49, 1081, 349, 27),
 (45, 1081, 343, 29),
 (50, 1081, 341, 30),
 (39, 1081, 334, 31),
 (40, 1081, 333, 32),
 (57, 1081, 331, 33),
 (44, 1081, 330, 34),
 (55, 1081, 327, 35),
 (59, 1081, 322, 36),
 (41, 1081, 322, 36),
 (4352, 1091, 399, 1)]